<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">

  {% include header.html %}

  <div class="page-content col-sm-8">
    {{ content }}
    {% include post_pagination.html %}
  </div>
  {% include sidebar.html %}

  {% include footer.html %}

</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-55234491-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>

</html>
